cluster_name     = "talos-bm"
cluster_endpoint = "https://192.168.0.10:6443"
cluster_vip      = "192.168.0.10"
gateway          = "192.168.0.2"

talos_version      = "v1.12.6"
kubernetes_version = "v1.35.2"

controlplane_nodes = {
  cp1 = {
    management_ip        = "192.168.0.11"
    node_name            = "cp1"
    install_disk         = "/dev/sdc"
    interface_mac        = "00:11:22:33:44:55"
    address_cidr         = "192.168.0.11/24"
    data_disk            = "/dev/sdb"
    data_disk_mountpoint = "/var/mnt/longhorn"
  }
}
