frontend kubernetes
    bind *:6443
    mode tcp
    default_backend kubernetes-backend

backend kubernetes-backend
    mode tcp
{% for host in groups['kube_control_plane'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:6443 check
{% endfor %}
