vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['kube_control_plane'][0] else 'BACKUP' }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority {% if inventory_hostname == groups['kube_control_plane'][0] %}150{% elif inventory_hostname == groups['kube_control_plane'][1] %}100{% else %}90{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass mysecret
    }
    virtual_ipaddress {
        {{ vip_address }}
    }
}
