vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['kube_control_plane'][0] else 'BACKUP' }}
    interface eth0
    virtual_router_id 51
    priority {{ 100 - groups['kube_control_plane'].index(inventory_hostname) * 10 }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 42secret
    }
    virtual_ipaddress {
        192.168.0.240
    }
}
